body {
    display: flex;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +1;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.sky {
    /* background-color: aqua; */
    background-image: url('./fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    /* background-color: rgb(150, 58, 58); */
    background-image: url('./bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.score {
    align-items: center;
    text-align: center;
    margin-top: 60px;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(29, 71, 37);

}

.bird {
    /* background-color: yellow; */
    /* border: black 1px solid; */
    background-image: url('./flappy-bird.png');
    width: 60px;
    height: 45px;
    position: absolute;
}

.obstacle {
    /* background-color:green; */
    background-image: url('flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
    /* border: black 1px solid; */
}

.topObstacle {
    /* background-color:green; */
    background-image: url('flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
    border: black 1px solid;
}